@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'medium';
        src: url('/font/Pretendard-Medium.otf');
    }
    @font-face {
        font-family: 'thin';
        src: url('/font/Pretendard-Thin.otf');
    }
}

* {
    font-family: 'medium';
}

.thin {
    font-family: 'thin';
}